<html>
<head>
        <title>About</title>
    </head>
    <body>
        <center> <font face="Times New Roman"> Project by Kim Kleiven,
                Jenna Choo, Clark Chen and Kirn Hans</font></center>
        <br>
        <center>
        {% load staticfiles %}
        <img src = {% static "Kim.jpg" %} width=275 alt_text="Kim">
        <img src = {% static "Jenna.jpg" %} width=150>
        <img src = {% static "Clark.jpg" %} width=150>
        <img src = {% static "Kirn.jpg" %} width=150><br>
        </center>
    </body>
</html>
